.sidemenu{

    margin: 0;
    height: 370px;
    width: 245px;
    ul {
     margin-right: 0px;    
     margin-left: 0px;
     li{
        font-size: 18px;
        list-style-type: none;
        margin-bottom:25px ;
        color: #746967;
        &:hover{
            color: $highLighColor;
        }
         &::before{
           width: 6px;
           height: 6px;
           background: $highLighColor;
           content: "";
           display: inline-block;
           margin-right: 9px;
           margin-bottom: 4px;
         }
         .counter{
             color: $highLighColor;
             &::before{
                 content: "(";
             }
             &::after{
                 content: ")";
             }
         }
     }
    }
}
