@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body, footer {
  box-sizing: border-box; }

header {
  width: 100%; }

section {
  width: 100%;
  min-height: 90px;
  color: #222626;
  backface-visibility: #ffffff; }
  section .section-title {
    font-size: 27px;
    margin-bottom: 20px;
    font-weight: 200;
    color: #222626; }

.cb {
  clear: both; }

a {
  color: inherit;
  text-decoration: none; }

h3 {
  font-size: 26px;
  font-weight: 100; }

.contener {
  width: 68%;
  margin: 0 auto;
  padding-top: 45px;
  clear: none; }
  .contener::after, .contener::before {
    display: none; }

.two-grid {
  width: 50%;
  float: left;
  padding-right: 24px; }
  .two-grid p {
    font-size: 14px;
    line-height: 19px;
    color: #999999; }

.gallery {
  margin: 0 auto;
  width: 75%;
  margin-top: 40px;
  position: relative;
  display: grid;
  height: 422px;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 212px 212px;
  grid-gap: 0px;
  color: #ffffff; }
  .gallery > div {
    font-size: 30px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 38px; }
    .gallery > div .gallery-item-title {
      font-size: 22px;
      font-weight: 200;
      margin: 0; }
    .gallery > div p {
      font-size: 13px;
      line-height: 16px;
      color: #eeeeee; }
    .gallery > div .gallery-item-footer {
      margin-top: 10px;
      font-size: 14px;
      display: inline-block; }
      .gallery > div .gallery-item-footer::after {
        content: "→";
        transition: 0.4s  ease-in-out;
        margin-left: 5px; }
      .gallery > div .gallery-item-footer:hover::after {
        margin-left: 19px; }
  .gallery .gallery-item-two-colums {
    grid-column-start: 1;
    grid-column-end: 3; }

.bck-pink {
  background: #f5989d !important; }

.bck-green {
  background: #82ca9c !important; }

.bck-darkblue {
  background: #615f7d !important; }

.bck-darkblue-overlay {
  background: url("../imgs/other-img.png") !important;
  background-size: cover;
  background-repeat: no-repeat !important; }

.bck-purple {
  background: #bd8cbf !important; }

.bck-red-overlay {
  background: url("../imgs/grid_img.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover; }

.bck-flower {
  background: url("../imgs/flower.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

.header {
  height: 625px;
  background-color: #132831;
  background-image: url("../imgs/bckg.png");
  background-blend-mode: overlay;
  background-size: cover;
  color: #eeeeee;
  position: relative; }
  .header .logo {
    margin: 0; }
    .header .logo:hover {
      filter: brightness(1.5); }
  .header .titles {
    position: absolute;
    bottom: 40px;
    font-size: 45px; }
    .header .titles .subtitle {
      font-size: 15px;
      width: 357px;
      line-height: 32px; }

#section1 {
  padding: 20px; }

#section-ban {
  background-image: url("../imgs/voiture.png");
  background-attachment: fixed;
  background-color: #132831;
  background-blend-mode: overlay;
  height: 660px;
  position: relative;
  color: white; }
  #section-ban img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    z-index: -1;
    filter: brightness(0.3); }
  #section-ban .section-ban-block-text {
    width: 406px;
    position: absolute;
    bottom: 46px; }
    #section-ban .section-ban-block-text .title {
      font-size: 45px;
      color: white;
      font-weight: 200; }
    #section-ban .section-ban-block-text p {
      color: #888888;
      font-size: 12px;
      line-height: 18px; }

#section-green {
  background: #82ca9c; }

footer {
  height: 460px;
  background: #192431; }
